<div class="swiper-slide">
	<div class="article">
		<h2>Business lights the fire</h2>
		<p class="date">August 2011</p>
		<p class="articleContent">
			ENACTUS then SIFE - Students in free Enterprise- becomes an all consuming passion. A global organization that fosters and equips students with tools for entrepreneurship. This is the first major step towards big things. University of Zululand are top performers when it comes to social enterprise and consistently punch above the weight at the national Presentations held every year at Sandton convention center.
		</p>
	</div>
</div>
<div class="swiper-slide">
	<div class="article">
		<h2>The fire rises</h2>
		<p class="date">jan -dec 2012</p>
		<p class="articleContent">
			Biochemistry is now legit difficult and cannot be taken lightly. After a few distictions and hard times we pass. I am now the a member of the technical team for the nationals presentations and a project manager for a projects helping bricklayers and artisans start small co-ops. A big project that was funded by RBMC in Richards Bay. English club Chelsea FC win the EUFA champions league to my detriment. Upwards and onwawrds.
		</p>
	</div>
</div>
<div class="swiper-slide">
	<div class="article">
		<h2>Swan-song-senior</h2>
		<p class="date">jan -dec 2013</p>
		<p class="articleContent">
			Academia and noodles go well together. Friends have now grown mature and looking for internships. I struggle to land one. Too focused on business and volleyball. Nominated for an executive position at UZ Enactus. Start working on some data analytics courses online to help with my schoolwork. Get approached by a Lecturer on joining his post grad group as he is impressed by my work. DECLINE. I want to see the outside world and test my mettle. Academia is not for hunters.
		</p>
	</div>
</div>

<div class="swiper-slide">
	<div class="article">
		<h2>Jungles and pythons.py</h2>
		<p class="date">jan -dec 2014</p>
		<p class="articleContent">
			Living at home, learning python language almost on all my free time. Internships-jobs not forthcoming. Move to Durban to live with my brother and his wife. They take me in without complaint. I hustle. Take up boxing. It's a schlep. My body is primed and my mind is clear. 
		</p>
	</div>
</div>

<div class="swiper-slide">
	<div class="article">
		<h2>hackathonia</h2>
		<p class="date">April 2015</p>
		<p class="articleContent">
			Meet up with Sihle Majola. He is important throughout the next chapter of my life. Future business partner and confidant. A law graduate with a bent for business like me. A truly hardworking man with little tolerance for bullshit. He is starting a loan company and needs a developer. I accept. That same year we enter a hackerthon hosted by IBM. Win third place. Get and awesome amount of money in DOLLARS. Decide to invest in a business we call BLUE MUFFIN later called RRG.
		</p>
	</div>
</div>

<div class="swiper-slide">
	<div class="article">
		<h2>Sorry not Sorry</h2>
		<p class="date">JAN 2016</p>
		<p class="articleContent">
			RRG is born. We pump out web based products like cupcakes. Ideas and Lean hypothesis abound. I'm now a web dev doing anything but Dev. Ship is going down. I can't remember the last time I sat and just wrote code. Excel and Google docs is where I live now.
		</p>
	</div>
</div>

<div class="swiper-slide">
	<div class="article">
		<h2>The merry band</h2>
		<p class="date">JAN 2017</p>
		<p class="articleContent">
			Old friends from Uni, Tshepo and Terrence, seeking greener pastures in Durban. We meet up. Meet with another enterprising fellow, Wonga, with whom we start our first truly successful venture. HOTDEES. A hotdog business that generates a few thousand rands in profit per day. We start delivering to municipality offices and SARS. People love the product. We get copycats but the formula to our freshness is waking up at 4am to collect ingredients before the girls come in at 7 and start with morning batches. BUSINESS OPERATIONAL EXPERIENCE GAINED +1000
		</p>
	</div>
</div>

<div class="swiper-slide">
	<div class="article">
		<h2>"More Zaka Zaka, no more hunger"</h2>
		<p class="date">JAN 2018</p>
		<p class="articleContent">
			Money and friendships dont go well together. Wonga, the brainman behind Hotdees and a superb operator, cuts loose and takes his capital. Business falters and ends up dead. time to brush off the old laptop and begin anew. We start a new company called PICADOO. Investors love it. People Love it. Also incorporate an Arts marketplace called WEZART. 2018 is the year of tech. Picadoo is funded by foreign and local investors. Wezart grows. I am now a product manager and developer. We pitch and land R500 000 in seed funding. Google likes us too, we get an invite to Google launchpad. SAMSUNG likes we get an invite to CPT for their GES. Life is looking up.
		</p>
	</div>
</div>

<div class="swiper-slide">
	<div class="article">
		<h2>Breathing through the wound</h2>
		<p class="date">JAN 2019</p>
		<p class="articleContent">
			picadoo numbers falter, and crashes in a giant ball of flames. Not enough runway, not enough of anything. Lessons learnt. business is hard. tech stacks are hard. building teams is hard especially if you have to move fast. Sihle Majola decides to cave in and sell Wezart to AFI. Good man. Now the team is thing of the next step. We all decide to hit the workforce for the first time since we've been out of school. I join FV media as a developer. Sihle Follows his baby, Wezart, to integrate it into the ecommerce platform. tshepo joins Unilever.
		</p>
	</div>
</div>

<div class="swiper-slide">
	<div class="article">
		<h2>COVID End-game</h2>
		<p class="date">March 2020</p>
		<p class="articleContent">
			Year of Covid. I am no longer at FV and start a new company called GongongLive media. Streaming services with our own platform. We specialize in simplifying payments for content. Still in the works. I consult and freelance on the side while getting the platform working. Art director extrondiaire, Thanda Cele, is my cofounder, Shermar Stuart - another excellent and young operator - is heading up OPS. I'm knee deep in web development and  
		</p>
	</div>
</div>