<div class="shenanigans">
	<div class="wrapper">
	<div class="nav--borzoi">
		<div class="search">search</div>
		<div class="logo"><h4><i><span class="myLogo">Borzoi</span></i></h4></div>
		<div class="blog">blog</div>
	</div>
	<div class="main--borzoi">
		<div class="swiper-container borzoi">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="item">
						<div class="video--item">
							<video src="{{ url_for('static', filename='video/1.mp4') }}" loop id="_jsVideo" muted>
								
							</video>
						</div>
						<div class="item--content">
							<h1><span class="animate--in">KNITWEAR</span></h1>
							<a href="#"><span class="animate--in">BUY COLLECTION</span></a>
						</div>
						<div class="item--description">
							<p>Our Knitwear draws from the era of the 'Solid Ice and no blood' of fashion, good sense and the expectation that clothes will last forever.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="item">
						<div class="video--item">
							<video src="{{ url_for('static', filename='video/2.mp4') }}" loop id="_jsVideo">
								
							</video>
						</div>
						<div class="item--content">
							<h1><span class="animate--in">COTTON TEES</span></h1>
							<a href="#"><span class="animate--in">BUY COLLECTION</span></a>
						</div>
						<div class="item--description">
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>