<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Monde Nyawose</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/swiper.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/splitting.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
	 <!-- <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet"> -->
	<style></style>
</head>