<!-- talent Modal -->
	<div class="modal slide-in-left" id="talentModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modalSlide">
					
				</div>
			</div>
		</div>
	</div>
</div>

<!-- works Modal -->
	<div class="modal slide-in-right" id="worksModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-body">

			</div>
		</div>
	</div>
</div>
<!-- scripts -->