@media (max-width: 1061px) {
	
	

	.dashboard .mainNav .navigation{
		display: block;
	}
	.personalInfo{display: none;}
	.sideNavOpen.dashboard{
		overflow-y:hidden; 
	}
	.sideNavOpen .menu{transform: translateX(0);transition: transform 0.3s ease-in;box-shadow: 0px 0px 12px -6px #000;}
	.menu{/*! display: none; */position: fixed;background-color: #fff;left: 0;top: 4em;z-index: 1;height: 100vh;padding: 1em;transform: translateX(-100%);transition: transform 0.3s ease-out;width: 100%;display: block;}
	.books{
		padding: 30px;
	}
	.book{}
	.bookHeader{}
	.customContainer{}
	.dashboard .heading{font-size: 1rem;}
	.dashTabs img{
		max-width: 100%;
	}
	.dashboard header{
		margin-bottom: 1em;
		margin-top: 2em;
	}
	.mainContent{max-width: 100%;flex: 0 0 100%;}
}

@media (max-width: 768px) {
/* 	#stats{
		visibility: visible;
	} */
	
	body{
		overflow: hidden;
	}
	
	.bg{
		overflow: hidden;
		background-position-x: 65%;
	}
	.dashboard p.headingAlt{
		display: none;
	}
	.mainHeader .mianContent{
		margin:0;
		padding: 0;
	}
	.sideNavOpen .mainHeader .mianContent::after{
		display: none;
	}
	.dashboard .topBar {justify-content: space-between;margin: 0;display: flex;}
	.dashboard .topBar a:last-of-type{
		display: none;
	}
	body.cv{}
	.dashboard .mainNav input{width: 80%;line-height: 1;border: none;background-color: antiquewhite;}
	.cv .content .details{width: 95%;}
	.cv .codeBlock{display: none;}
	.cv .terminalVisible .code{}
	.cv .codeBlock .code{}
	.cv .terminalVisible{}
	.cv .technical{width: 96%;}
	.cv .content .imageContainer{}
	.cv .content .imageContainer img{}
}

@media (max-width: 435px) {
	.cool-nav a{font-size: 1.6rem;width: 100%;margin: 0;overflow: auto;/*! height: 2em; */font-weight: bold;font-style: italic;}
	.navigation{}
	#stats{
		visibility: visible;
	}
	.cool-nav{
		transform: rotate(0);
		top: 0;
		right: 0;
		left: 0;
		flex-wrap: unset;
		flex-direction: column;
		height: 100vh;
		background-color: black;
		width: 100vw;
		transform: translateX(100%);
	}
	.sideNavOpen .cool-nav{padding: 1em;/*! align-items: center; */padding-top: 1em;font-size: 0.6em;position: absolute;z-index: 5;height: 100vh;display: flex;flex-direction: column;justify-content: center;transform: none;width: 100%;right: 0;background-color: black;color: #000;background-image: none;align-items: center;}
	.dashData.desktop{
		display: none;
	}
	.dashboard .leftHeading p:nth-child(2){
	display: block;
}
	.mainHeader .mianContent h1{letter-spacing: -1px;text-shadow: none;}
	#nav-icon1{
		width:20px;
	}
	.tabHeader{
		justify-content:flex-start;
	}
	
	.tabHeader .leftHeading{
		margin-right:1em;
	}
	.mainHeader .mianContent{margin: 0;padding: 0;}
	
/* 	works */
	
	#music-list .apps{}
	
	
	
}