<!DOCTYPE html>
<html>
{% include 'partials/head.html' %}
{% block styles %}{% endblock %}

<body class="{{ bodyClass }} loading">

	<div class="loader">
	<h3>"Perhaps yesterday you decided wrongly about me. Perhaps today you misjudge me as well. However, I remain myself. I have never cared about others misjudging me."</h3>
		<p><i>Cao Mengde - Prince of Wei</i></p>
	</div>

{% include 'partials/nav.html' %}

{% block content %}{% endblock %}

{% include 'partials/modals.html' %}
{% include 'partials/scripts.html' %}
		<script>
			imagesLoaded(document.querySelectorAll('img'),{background:true}, () => document.body.classList.remove("funload"));
</script>

 {% block scripts %}{% endblock %}
	</body>
</html>
