<!DOCTYPE html>
<html>
{% include 'partials/head.html' %}

<body class="{{ bodyClass }} loading">

	<div class="loader">
	<h3>"Perhaps yesterday you decided wrongly about me. Perhaps today you misjudge me as well. However, I remain myself. I have never cared about others misjudging me."</h3>
		<p><i>Cao Mengde - Prince of Wei</i></p>
	</div>

{% include 'partials/nav.html' %}

{% block content %}{% endblock %}

{% include 'partials/modals.html' %}
{% include 'partials/scripts.html' %}
		<script>
			//check of we are in CV page
			if(document.documentURI.endsWith("cv") === true){
				const scroll = new LocomotiveScroll({
					el: document.querySelector('[data-scroll-container]'),
					smooth:true,
					lerp:0.1,
					multiplier:2
				});
			}

			if(document.documentURI.endsWith("work") === true){
				const workScroll = new LocomotiveScroll({
					el: document.querySelector('[data-scroll-container]'),
					smooth:true,
					lerp:0.05,
					multiplier:1
				});
			}
			imagesLoaded(document.querySelectorAll('img'),{background:true}, () => document.body.classList.remove("funload"));

			function derp (){
				console.log("hello derp")
			}	
</script>
	</body>
</html>
