{% extends "base.html" %}
{% block content %}

<main>
	<!-- <h1>ABP - You too can't do this me</h1> -->

	<div class="codeBlock row terminal">

		<div class="col-12 d-flex justify-content-center align-items-center terminalVisible">
			<div class="code">
				<p class="terminalName">Monde@PC <span>MINGW64</span> ~</p>
				<div class="outPut">
					<p id="oText">>  </p>
					
				</div>
				<a href="javascript:void(0)" class="closeTerminal">Dismiss</a>
			
			</div>
		</div>
	</div>


	<!-- MAIN CONTENT -->

	<div class="content renderedText">
		<h1>HELLO THERE</h1>
	</div>
</main>



{% endblock %} 
