{% extends "base.html" %}

{% block content %}


	<a class="navigation _jsSideNav" href="javascript:void(0)">
		<div id="nav-icon1">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</a>
	<a class="music-nav" href="javascript:void(0)" onclick="openMusic()">My Music List</a>
	

	<div id="music-list">
		<a href="#" class="music-close" onclick="closeMusic()">X</a>
		<!-- <div class="music-wrapper"></div> -->
		<div class="clippedBg"></div>
		<div class="content">
			<h3>My Music Selection</h3>
			<ul class="artists">
				<li class="artist">
					<a href="#">
						<p>KENDRICK LAMAR </p>
						<div class="AlbumInfo">
							<p><i>These Walls</i></p>
							<p>To Pimp a butterfly</p>
							<p>2015</p>
						</div>
						
					</a>
					<button class="hidePlayer btn btn-primary" onclick="removeActive()">Back</button>

						<img src="../static/img/monde.jpg" alt="">
						
				</li>
				<li class="artist">
					<a href="#">
						<p>KENDRICK LAMAR </p>
					</a>
						<img src="../static/img/monde.jpg" alt="">
				</li>
				<li class="artist">
					<a href="#">
						<p>KENDRICK LAMAR </p>
					</a>
						<img src="../static/img/monde.jpg" alt="">
				</li>
				<li class="artist">
					<a href="#">
						<p>KENDRICK LAMAR </p>
					</a>
						<img src="../static/img/monde.jpg" alt="">
				</li>
			</ul>
		</div>
	</div>

	<div class="row container mainHeader hide-body">
		<div id="projects" class="linkDivs first">
			<a href="javascript:void(0)" data-toggle="modal" data-target="#talentModal">Projects</a>
		</div>
		<div class="linkDivs second">
			<a href="javascript:void(0)" data-toggle="modal" data-target="#worksModal">Bookings</a>
		</div>
	</div>

<div class="modal slide-in-right" id="storyModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<a href="#" class="close" data-dismiss="modal">X</a>
				<div>
					<h1>Modal one</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- talent Modal -->
<div class="modal slide-in-left" id="talentModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<a href="#" class="close" data-dismiss="modal">X</a>
				<div>
					<h1>Modal two</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- works Modal -->
	<div class="modal slide-in-right" id="worksModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<a href="#" class="close" data-dismiss="modal">X</a>
				<div>
					<h1>Modal three</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- scripts -->

{% endblock %} 