{% extends "base.html" %}

{% block content %}

<div class="headerWrapper">	
	<div class="siteName">	
		<h4>
			<i>
				<span class="myLogo">Borzoi Vagrant</span>
			</i>
			
		</h4>	
		<p>Monde Nyawose</p>
		<a class="navigation _jsSideNav" href="javascript:void(0)">
		<div id="nav-icon1">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</a>
	</div>
	
</div>	

<div class="bg">
<div class="bgWrapper">
	<div class="headingIntro">
		<h1 class="hover">
			<a href="javascript:void(0)"><span class="animText">Frontend Developer</span></a>
			<!-- <img src="{{ url_for('static', filename='img/cv_lg/invo.JPG') }}" alt="OKMALUMKOOLKAT"> -->
			<div class="marquee">
				<div class="marqueeWrapper">
					<span>FRONTEND Developer</span>
					<span>FRONTEND Developer</span>
					<span>FRONTEND Developer</span>
					<span>FRONTEND Developer</span>
				
				</div>
			</div>
		</h1>
		<h1 class="hover">
			<a href="javascript:void(0)"><span class="animText">FICTION Writer</span></a>
			<!-- <img src="{{ url_for('static', filename='img/cv_lg/speech.jpg') }}" alt="Vagrant"> -->
			<div class="marquee">
				<div class="marqueeWrapper">
					<span>fiction WRITER</span>
					<span>fiction WRITER</span>
					<span>fiction WRITER</span>
					<span>fiction WRITER</span>
				</div>
			</div>
		</h1>
		<h1 class="hover">
			<a href="javascript:void(0)"><span class="animText">Videographer</span></a>
			<!-- <img src="{{ url_for('static', filename='img/cv_lg/pitch.jpg') }}" alt="AT GONG"> -->
			<div class="marquee">
				<div class="marqueeWrapper">
					<span>videographer</span>
					<span>videographer</span>
					<span>videographer</span>
					<span>videographer</span>
				
				</div>
			</div>
		</h1>
		<h1 class="hover">
			<a href="javascript:void(0)"><span class="animText">Entrepreneur</span></a>
			<!-- <img src="{{ url_for('static', filename='img/cv_lg/jhbrrg.jpg') }}" alt="PRESENTATION"> -->
			<div class="marquee">
				<div class="marqueeWrapper">
					<span>entrepreneur</span>
					<span>entrepreneur</span>
					<span>entrepreneur</span>
					<span>entrepreneur</span>
					
				</div>
			</div>
		</h1>
	</div>
	<div class="bgImg"></div>

	</div>
</div>
<div class="cursor"></div> 

	<div class="music-wrapper hiddenPlayer">
	<div class="circle" title="click my center">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
		    <defs>
		        <path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
		         
		    </defs>
		    <circle cx="150" cy="100" r="75" fill="none"/>
		   
		    <g>
		        <use xlink:href="#circlePath" fill="none"/>
		        
		        <text fill="#fff">
		            <textPath xlink:href="#circlePath">Hover over me</textPath>
		           
		        </text>
		    </g>
		</svg>	

		<div class="music-nav paused">
			<span><img src="{{ url_for('static', filename='img/icon_pause.svg') }}" alt="" class="pause-music"></span>
			<span><img src="{{ url_for('static', filename='img/arrow_triangle-right.svg') }}" alt="" class="play-music"></span>
		</div>
	</div>
</div>


<!-- include borzoi -->
<!-- {% include 'partials/exp.html' %} -->
<!-- scripts -->


{% endblock %} 

{% block scripts %}
		<script src="{{ url_for('static', filename='vendor/js/anime.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/js/howler.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/js/imagesloaded.pkgd.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/js/splitting.min.js') }}"></script>
{% endblock %} 


<!--  -->