{% extends "nonav.html" %}
{% block content %}

<main data-scroll-container>	
	<section id="headTitle">
		<div class="heading">
			<h2 data-scroll data-scroll-speed="3">BEHOLD, MY BANKAI!</h2>
		</div>
		<div class="grid">
			<div class="grid--line" data-scroll data-scroll-speed="2" data-scroll-target="#headTitle">
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/2.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/3.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/4.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/5.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/6.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
			</div>
			<div class="grid--line" data-scroll data-scroll-speed="4" data-scroll-target="#headTitle">
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/6.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/5.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/4.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/3.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/2.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
			</div>
			<div class="grid--line" data-scroll data-scroll-speed="2" data-scroll-target="#headTitle">
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/3.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/5.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/2.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/4.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/6.jpg);"></div>
			</div>
			<div class="grid--line" data-scroll data-scroll-speed="4" data-scroll-target="#headTitle">
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
			</div>
			<div class="grid--line" data-scroll data-scroll-speed="2" data-scroll-target="#headTitle">
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
			</div>
			<div class="grid--line" data-scroll data-scroll-speed="4" data-scroll-target="#headTitle">
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
				<div class="line--img" style="background-image: url(/static/img/products/1.jpg);"></div>
			</div>
		</div>
	</section>
	<section id="horizontalism">
		<div class="parallax--text" >
			<h2 data-scroll data-scroll-speed="4" data-scroll-direction="horizontal" data-scroll-target="#horizontalism">ENOUGH OF YOUR SAD SONGS CRICKETS.</h2>
			<img src="" alt="">
		</div>
	</section>

<section id="contacts" data-scroll data-scroll-call="derp">
	<div class="contactMe">
		<h4>Here is my email address</h4>
	</div>
</section>
</main>



{% endblock %} 